@import-theme "nord";
@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

:root {
  --color-nord-0: #2e3440;
  --color-nord-1: #3b4252;
  --color-nord-2: #434c5e;
  --color-nord-3: #4c566a;
  --color-nord-4: #d8dee9;
  --color-nord-5: #e5e9f0;
  --color-nord-6: #eceff4;
  --color-nord-7: #8fbcbb;
  --color-nord-8: #88c0d0;
  --color-nord-9: #81a1c1;
  --color-nord-10: #5e81ac;
  --color-nord-11: #bf616a;
  --color-nord-12: #d08770;
  --color-nord-13: #ebcb8b;
  --color-nord-14: #a3be8c;
  --color-nord-15: #b48ead;
}

section.split {
  display: grid;
  grid-template-columns: repeat(2, calc(100% / 2));
  grid-gap: 1rem;
  align-content: center;
}

section.lead {
  display: grid;
  align-items: center;
  justify-items: center;
}

pre code {
  font-family: "Source Code Pro", monospace !important;
  font-size: 16px !important;
}

img {
  display: inline-block;
  margin: 0 auto;
}

.uml {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

.uml > svg {
  max-width: 100%;
  max-height: 100%;
}

.note {
  position: relative;
  padding: 16px 16px 0 32px;
  margin: 0 0 16px 15px;
  font-size: 0.8em;
  background-color: var(--color-nord-2);
  border-left-style: solid;
  border-left-width: 4px;
}

.note > h1,
.note > h2,
.note > h3,
.note > h4,
.note > h5,
.note > h6 {
  margin-top: 0;
}

.note::before {
  position: absolute;
  top: calc(50% - 15px);
  left: -17px;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  content: "！";
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  border-radius: 15px;
}

.note.info {
  border-left-color: var(--color-nord-10);
}

.note.info::before {
  background-color: var(--color-nord-10);
}

.note.warning {
  border-left-color: var(--color-nord-13);
}

.note.warning::before {
  color: var(--color-nord-0);
  background-color: var(--color-nord-13);
}

.note.danger {
  border-left-color: var(--color-nord-11);
}

.note.danger::before {
  background-color: var(--color-nord-11);
}

.note.question {
  border-left-color: var(--color-nord-14);
}

.note.question::before {
  content: "？";
  color: var(--color-nord-0);
  background-color: var(--color-nord-14);
}
